<div class="messageunit received">
    <div class="h">
        <div class="sender">From: 2d1004a928e0c8017a9df5f1e573a2327f38073ccdf81d7bf87a5a06d98fdbde</div>
        <div class="recipient">To: e11e9ad242f29ef4f3b973a47c4fce8d6397c7d8a0756ab75338fd751ee19c73</div>
        <div class="date">Date: {{ 'now'|date }}</div>
    </div>
    <div class="c">
        Hey
    </div>
</div>